<%= render 'layouts/navbar' %>
<div class="space"></div>
<div class="user-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <!--修正予定<%= f.error_notification %> -->

    <div class="user-form__field">
      <h2>更新</h2>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "変更がなければ空白にしてください",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "更新には現在のパスワードを入力してください",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>

      <div class="user-form__field__actions">
        <%= f.button :submit, "更新する" %>
      </div>
      
      <p><%= link_to "退会する", registration_path(resource_name), class:"button", data: { confirm: "Are you sure?" }, method: :delete %></p>
      <%= link_to "Back", :back, class: "button"  %>
    </div>

  <% end %>
</div>