<%= form_with(model: article, local: true) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="user-form__field__title">タイトル</div>
  <%= f.text_field :title, :class=>"form-control"%>
  <div class="user-form__field__title">サムネイル</div>
  <%= f.file_field :thumbnail %>
  <div class="user-form__field__title">バナー</div>
  <%= f.file_field :banner %>
  <div class="user-form__field__title">コンテンツ</div>
  <%= f.rich_text_area :body %>
  <div class="user-form__field__create">
    <%= f.submit :class=>"user-form__field__create__button" %>
  </div>
<% end %>
