<%= render 'layouts/navbar' %>
<div class="space"></div>

<div class="main_bg">
</>

<div class="container article-body">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="article-body__box col-xl-4 col-md-6 col-sm-12">
        <%= link_to article_path(article), class: "design" do %>
          <div class="article-body__box__image">
            <%= image_tag(article.thumbnail, style:'width:100%') if article.thumbnail.attached? %>
          </div>
          <div class="article-body__box__category">
            <%= article.category.root.name %>
            -<%= article.category.parent.name %>
            -<%= article.category.name %>
          </div>
          <h4 class="article-body__box__title">
            <%= article.title %>
          </h4>
          <div class="article-body__box__lead">
            <%= article.updated_at.strftime("%Y年%m月%e日") %> -
            <%# <%= article.user.username %> <%#編集者の表示%>
            <%# <%= pluralize(article.views, "View") %> <%#viewの表示%>
            <%= article.body.to_plain_text.truncate_words(15) %>

          </div>
          <%# <div  class="article-body__box__lead"> %>
            <%# <%= article.body.to_plain_text.truncate_words(15) %>
          <%# </div> %>
          <%# <div class="article-body__box__button"> %>
            <%# <td><%= link_to 'READ MORE', article, class: "each-b"%></td> 
          <%# </div> %>

            <% if current_user %>
              <% if current_user.admin %>
                <hr/>
                <div class="article-body__box__button">
                  <td><%= link_to 'Edit', edit_article_path(article), class: "each-ba"  %></td>
                  <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "each-ba"  %></td>
                </div>
              <% end %>
            <% else %>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>