<%= render 'layouts/navbar' %>
<div class="space"></div>
<div style="width:100%; height: 100%; overflow-y:hidden">
  <%= image_tag(@article.thumbnail, style:'width:100%') %>
</div>



<div class="container" style="margin-top: 2em">
  <div class="row">
    <div class="article-body__box" style="width:100%">
      <h2>
        <%= @article.title %>
      </h2>
      <% @article.tag_list.each do |tag| %>
        <%= link_to tag, tag_path(tag_name: tag), class: "article-body__box__tag" %>
      <% end %>
      <p class="lead">
        <%= @article.updated_at.strftime("%Y年%m月%e日") %>
        <%# by <%= @article.user.username %>
        <%# | <%= pluralize(@article.views, "View") %>
      </p>
      <hr class="my-4" />
      <div class="article-body__box__lead">
        <%= @article.body %>
      </div>
      <hr class="my-4" />
        <div class="article-body__box__button">
          <td><%= link_to 'Back', articles_path, class: "each-dt" %></td>
          <% if current_user %>
            <% if current_user.admin %>
              <td><%= link_to 'Edit', edit_article_path(@article), class: "each-dt" %></td>
            <% end %>
          <% else %>
          <% end %>
        </div>
    </div>
  </div>
</div>