<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="article-body__box" style="width:100%">
      <%= search_form_for @search, url: search_result_path, class: "search-field" do |f|%>
      <%= f.search_field :title_cont, placeholder: "Search...", class: "mr-sm-2 search-field__input" %>
      <div class="search-btn">
        <%= button_tag type: 'submit', class: 'search-btn__icon' do%>
        <a class="fas fa-search"></a>
        <%end%>
        <%= link_to root_path do %>
        <div class="search-btn__end"><span></span></div>
        <% end %>
      </div>
      <% end %>

    </div>
    <% if params[:q]['title_cont'] == "" %>
    <p>検索キーワードがありません</p>
    <% elsif @search.result.present? %>
    <% @articles.each do |article|%>
      <%= link_to article_path(article) do %>

      <div class="article-body__box" style="width:100%">
        <div class="article-body__box__result">
          <div class="article-body__box__result__image">
            <%= image_tag(article.thumbnail, style:'width:100%') if article.thumbnail.attached? %>
          </div>
          <div class="article-body__box__result__content">
            <div class="article-body__box__result__content__title">
              <p><%= article.title %></p>
            </div>
            <div class="article-body__box__result__content__category">
              <%= article.category.root.name %>
              -<%= article.category.parent.name %>
              -<%= article.category.name %>
            </div>
            <div class="article-body__box__result__content__lead">
              <%= article.updated_at.strftime("%Y年%m月%e日") %> -
              <%= article.body.to_plain_text.truncate_words(15) %>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    <% end %>
    <% else%>
    <p>該当する記事はありませんでした</p>
    <% end %>

  </div>
</div>