<%= render 'layouts/navbar' %>
<div class="space"></div>
<div class="container">
  <div class="article-body">
    <div class="result">
      <div class="result__name"><%= "#{params[:tag_name]}" %></div>
      <div class="result__count"><%= "#{@articles.count}個" %></div>
    </div>
    <% @articles.each do |article|%>
    <div class="article-body__box" style="width:100%">
      <%= link_to article_path(article), class: "design" do %>
      <div class="article-body__box__result">
        <div class="article-body__box__result__image">
          <%= image_tag(article.thumbnail, style:'width:100%') if article.thumbnail.attached? %>
        </div>
        <div class="article-body__box__result__content">
          <div class="article-body__box__result__content__title">
            <%= article.title %>
          </div>
          <div class="article-body__box__result__content__lead">
            <%= article.updated_at.strftime("%Y年%m月%e日") %> -
            <%= article.body.to_plain_text.first(100) %>
          </div>
        </div>
      </div>
      <% end %>
      <% article.tag_list.each do |tag| %>
      <%= link_to tag, tag_path(tag_name: tag), class: "article-body__box__tag" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="tag">
  <div class="tag__cloud">
   <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}", tag_path(tag_name: tag.name), class: "article-body__box__tag" %>
   <% end %>
  </div>
</div>