<header>
  <div class="container-fluid ">
    <div class="row">
      <div class="site-title">
        <%= link_to "on and off", articles_path, class: 'home' %>
      </div>
      <div class="site-nav">
        <div class="search-head-btn", id="search">
          <%= link_to search_path, class: "search" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>

        <div class="" id="menu-bar">
          <div id="menu" class="menu">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
          </div>
          <div>
            <ul class="nav nav-sm" id="nav">
              <div class="mainnav">
                <li><%= link_to "home", articles_path, class: 'select' %></li>
                <li><%= link_to  "category", "#", class: 'select' %></li>
                <li><%= link_to "about", about_path, class: 'select' %></li>
                <% if current_user %>
                <li>
                  <a class="select drop" id="subnav">
                    <%= current_user.username %>
                    <i class="fas fa-caret-down"></i>
                  </a>
                </li>
              </div>
              <div class="subnav">
                <li>
                  <div class="dds">
                    <% if current_user.admin %>
                    <a class="dds__select" href="<%= new_article_path %>">New Post</a>
                    <% end %>
                    <a class="dds__select" href="<%= edit_user_registration_path %>">Account Settings</a>
                    <%= link_to "Logout", destroy_user_session_path, class:'dds__select', method: :delete %>
                  </div>
                </li>
                <% else %>
                <li class="nav-item">
                  <%= link_to "Signup", new_user_registration_path, class:'select' %>
                </li>
                <li class="nav-item">
                  <%= link_to "Signin", new_user_session_path, class:'select' %>
                </li>
                <% end %>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-bg" id="menu-bg"></div>
    </div>
  </div>
</header>