<!DOCTYPE html>
<html>
  <head>
    <title>on and off</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--googleAD-->
    <script data-ad-client="ca-pub-5512010952745888" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!--mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--bootstrap-->
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--FontAwsome-->
    <%# <script src="https://kit.fontawesome.com/e9b41901ca.js" crossorigin="anonymous"></script> %>
    <!--default-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'head', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <footer class="footer">
    <div class="footer-ad">
    <div class="footer-ad-content">
    <a href="https://px.a8.net/svt/ejp?a8mat=3BM74H+EBLENM+3L4M+6MROH" rel="nofollow" target="_blank">
    <img border="0" width="300" height="250" alt="" src="https://www27.a8.net/svt/bgt?aid=200909969866&wid=001&eno=01&mid=s00000016735001114000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3BM74H+EBLENM+3L4M+6MROH" alt="">
    </div>
    <div class="footer-ad-content">
    <a href="https://px.a8.net/svt/ejp?a8mat=3BM74I+2UEKTU+4JN4+674EP" rel="nofollow" target="_blank">
    <img border="0" width="300" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=200909970172&wid=001&eno=01&mid=s00000021208001041000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3BM74I+2UEKTU+4JN4+674EP" alt="">
    </div>

    </div>
      <div class="footer-top">
        <p><%= link_to "プライバシーポリシー", privacy_path, class: 'admin' %></p>
        <p><a href = "https://docs.google.com/forms/d/e/1FAIpQLSdbJZsnjJdCk7PyA2-w74USJHDv4BxyvveDnTGhxb9gYtzBAQ/viewform?usp=sf_link" rel="nofollow" target="_blank", class= 'admin'>お問い合わせ</a></p>
      </div>
      <div class="footer-bottom">
      
        <p>Copyright © on and off</p>
        <%# <p>Designed & Developed by masa</p> %>
        <p><%= link_to "Designed & Developed by masa", new_user_session_path, class: 'admin' %></p>
      </div>
    </footer>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'article' %>

  </body>
</html>
